body {
  background-color: darkgrey;
}

h1 {
  color:darkblue;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
}

span {
  float: inline-end;
}

h3 {
  color:darkblue;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
}

form {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
  border: 1px solid lightblue;
  position: relative;
}

form-label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

form input, textarea {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid blue;
}

form input:focus, textarea:focus {
  border-color:blueviolet;
}

form textarea {
  vertical-align: top;
  height: 5em;
}
